* {
    font-family: 'Archivo Narrow', sans-serif;
}

.card {
  text-align: left;
  border: #778899 solid 0.5px;
  border-radius: 25px;
  padding: 2rem;
  width: 18rem;
  height: 27rem;
  display: inline-grid;
  margin: 1rem 1rem;
  /* box-shadow: 1px 2px #00CED1 */
}

button {
  /* position: relative; */
  /* background-color: #e04b52; */
  border: none;
  /* border-radius: 5px; */
  height: 3rem;
  width: max-content;
  /* color: whitesmoke; */
  font-size: 22px;
  /* justify-self: right; */
}

.oscar-image{
  justify-self: center;
  height: 5rem;
  width: auto;
}

.movie-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.tag-line {
    color: #008080;
}

.subheader {
    color: #008080;
}

header {
    background: #24d414;
    padding: 10px;
    display: flex;
    justify-content: center; 
}

header h1 {
    margin: 0;
    color: white;
}

header span {
    color: #ffff00;
    font-size: 20px;
}

html, body {
    margin: 0;
    padding: 0;
}

p {
    color:black ;
}

.card > * {
    margin: 0;
}

#signup-form  input {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
}

.under-header {
    padding: 7px;
    margin: 7px;
}